<div class="col-xs-3">
    <div class="calltoaction">
        <a href="<%= url %>"><%= image_tag 'thumbnail_scale.png', style: 'background-image: url(' + image + ')'  %></a>
        <div class="caption">
            <a href="<%= url %>">
                <h3><%= title %></h3>
            </a>
        </div>
    </div>
</div>
