<div class="list-group">
    <div class="list-group-title">My Information</div>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-th"></span> My Trips</a>
    <a href="#" class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> My Reminders</a>
    <a href="#" class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> My Preferences</a>
    <a href="#" class="list-group-item"><i class="glyphicon glyphicon-sunglasses" aria-hidden="true"></i> Meet Sam</a>
    <div class="list-group-title">Interact With Sam</div>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-comment"></span> Talk to Sam</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-search"></span> Discover Places</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-send"></span> Send New Places</a>
</div>
