<div class="list-group">
    <div class="list-group-title">My Information</div>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-th"></span> My Trips</a>
    <a href="#" class="list-group-item"><i class="fa fa-calendar" aria-hidden="true"></i> My Reminders</a>
    <a href="#" class="list-group-item"><i class="fa fa-cog" aria-hidden="true"></i> My Preferences</a>
    <a href="#" class="list-group-item"><i class="fa fa-circle-o" aria-hidden="true"></i> Meet Sam</a>
    <div class="list-group-title">Interact With Sam</div>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-cutlery"></span> Discover New Food</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-comment"></span> Talk to Chef Sam</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-send"></span> Send New Recipes</a>
</div>
