<div class="list-group">
    <div class="list-group-title">My Information</div>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-th"></span> My Trips</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> My Reminders</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> My Preferences</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> Meet Sam</a>
    <div class="list-group-title">Interact With Sam</div>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-cutlery"></span> Discover New Food</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-comment"></span> Talk to Chef Sam</a>
    <a href="#" class="list-group-item"><span class="glyphicon glyphicon-send"></span> Send New Recipes</a>
</div>
