<div class="col-xs-12 conversation-container">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="col-xs-12 text-center">
                Travel Agent Sam
            </div>
        </div>
        <div class="panel-body">
            <div class="col-xs-1 animation-container"></div>
            <div class="col-xs-11 messages"></div>
        </div>
        <div class="panel-footer clearfix">
            <div class="col-xs-1 emoji-button-container">
                <div class="dropup">
                    <button class="btn btn-default emoji-button dropdown-toggle" id="emoji-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="emoji-button">
                        <li class="dropdown-header">Respond with Emoji</li>
                        <li><a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i> Smile</a></li>
                        <li><a href="#"><i class="fa fa-meh-o" aria-hidden="true"></i> Meh</a></li>
                        <li><a href="#"><i class="fa fa-frown-o" aria-hidden="true"></i> Frown</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-11 chat-input">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Send a message...">
                    <div class="input-group-btn">
                        <div class="btn btn-primary"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">var PAGE = "conversation";</script>
