// Overall Colors
$background-color: #ecf0f1;

// Topbar Colors
$topbar-background: #2980b9;
$topbar-button: #ecf0f1;
$logo-color: #ecf0f1;

// Sidebar Colors
$sidebar-background: #34495e;
$sidebar-header: #2c3e50;
$sidebar-active: #34495e;
