// Overall Colors
$background-color: #ecf0f1;

// Topbar Colors
$topbar-background: #e74c3c;
$topbar-button: #ecf0f1;
$logo-color: #ecf0f1;

// Sidebar Colors
$sidebar-background: #646e6f; // #34495e;
$sidebar-header: #51595a; // #2c3e50;
$sidebar-active: #34495e;
$sidebar-text: #ffffff;
